*{
       margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:'Neka' ;
    src: url('../Fonte/Neka\ Laurent\ \(Demo_Font\).ttf');
}

@font-face{
    font-family:'Roboto';
    src: url('../Fonte/Roboto-Black.ttf')
}

body {
    display: flex;
    flex-direction: column;
}



#Floresta{
    width: 1720px;
    height: 1080;
    position: absolute;
    margin-top: 2px;
}

#Inicio #Informações #Contatos{
    display: flex;
    width: 100%;
    width: 700px;
}

#oi{
    width: 50px;
    height: 100px;
    position: absolute;
    margin-top: 2px;
    display: flex;
}

#h1{
    width: 50px;
    height: 100px;
    position: absolute;
    margin-top: 2px;
}

#h2{
    width: 50px;
    height: 100px;
    position: absolute;
    margin-top: 2px;
}


#Paisagem{
    width: 1720px;
    height: 1080px;
    position: absolute;
}

#div{
    width: 200px;
    height: 200px;
    position: absolute;
}

#animais {
        position: relative;
    width: 1600px;
    height: 500px;
    border: 2px solid red;
    margin-right: 1150px;
    display: flex;
    justify-content: space-around;
}



#MicoleãoDourado{
    width: 200px;
    height: 200px;
   margin-top: -600px;
    justify-content: space-around;
}

#AraraAzul{
    width: 200px;
    height: 200px;
    margin-top: -600px; 
    margin-right: -1100px;
     justify-content: space-around;
}

#LoboGuará{
    width: 200px;
    height: 200px;
    margin-top: -600px;
     justify-content: space-around;
}

#onça-pintada{
    width: 200px;
    height: 200px;
   margin-top: -600px;
    justify-content: space-around;
}

#tigre{
    width: 200px;
    height: 200px;
   margin-top: -600px;
    justify-content: space-around;
}
#div3{
    width: 1720px;
    height: 1080px;
}

#Whatsapp{
width: 200px;
height: 200px;
margin-top: -500px;
}

#Facebook{
    width: 200px;
    height: 200px;
    margin-top: -500px;
}

#Instagram{
    width: 200px;
    height: 200px;
    margin-top: -500px;
}

#p1{
    width: 200px;
    height: 200px;
    position: absolute;
}

#img{
    width: 200px;
    height: 200px;
    position: absolute; 
}

#Mensagem{
    width: 50px;
    height: 100px;
    position: absolute;
    margin-top: 2px;
    display: flex;  
}
